.greeting {
    font-style: italic;
}

#track-manga-form-name {
    display: block;
}

#track-manga-form-url {
    display: block;
}

#track-manga-form-mangalink {
    display: block;
}

#track-manga-form-submit-btn {
    display: block;
    margin-top: 3px;
}

.error-msg {
    background-color: red;
    padding: 2px;
    font-weight: bold;
}